<?xml version="1.0"?>
<robot name="chicken_avocado_salad">
  <link name="chicken">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="ChoppedCookedChicken.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="ChoppedCookedChicken.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="avocado">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="avocado_particle.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="avocado_particle.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="redOnion">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="cubedRedOnion.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="cubedRedOnion.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="celery">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="choppedCeleryStick.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="choppedCeleryCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="apple">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="chopped_apple.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="chopped_apple.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="chicken_to_avocado" type="fixed">
    <parent link="chicken"/>
    <child link="avocado"/>
    <origin rpy="0 0 0" xyz="0 -0.014864 0.011178 "/> 
  </joint>
  <joint name="chicken_to_onion" type="fixed">
    <parent link="chicken"/>
    <child link="redOnion"/>
    <origin rpy="0 0 0" xyz="0 0.023671 -0.01341"/>
  </joint>
  <joint name="chicken_to_celery" type="fixed">
    <parent link="chicken"/>
    <child link="celery"/>
    <origin rpy="0 0 0" xyz="0.012834 0 -0.010041"/>
  </joint>  <joint name="chicken_to_apple" type="fixed">
    <parent link="chicken"/>
    <child link="apple"/>
    <origin rpy="0 0 0" xyz="-0.016864 0.016689 0.015939"/>
  </joint>
</robot>

