<?xml version="1.0"?>
<robot name="covered_chicken_avocado_salad">
  <link name="bowl">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="mediumBowl_visual.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="mediumBowl_collision.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="wrap">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="PlasticWrap.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="PlasticWrap.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="bowl_to_wrap" type="fixed">
    <parent link="bowl"/>
    <child link="wrap"/>
    <origin rpy="0 0 0" xyz="0 0 0.056171"/> 
  </joint>
</robot>

